<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="xyz/style.cssss">
</head>
<body>
	<form method="post">
		<h1>Home PAGE</h1>
		<a href="/home">Back To Home</a>
		<p>Welcome admin </p>

		<a href="/admin/new">Create New</a> |
		<a href="/hotel-resto">View Hotels</a> |	
		<a href="/admin/booking">View Bookings History</a> |	
			<a href="/admin/user_list">User List</a> | 
			
			<a href="/logout">Logout</a> 
		<br/>
		<br/>
		<h4>Communicate With HR :</h4>
		<h4>Message :</h4>
		To HR:
		<br/><br/>
		<input type="text" name="sms" required>
		<input type="submit" name="send" value="Send">
		<br/>
		<br/>
		<a href="/admin/view_sms">View SMS</a>
	</form>
	

</body>
</html>