<!DOCTYPE html>
<html>
<head>
	<title>Create Page</title>
</head>
<body>
	<h1>Create New User</h1>

	<a href="/home/user_list">Back</a> | 
	<a href="/logout">Logout</a> 

	<form method="post">
		<table>
			
			<tr>
				<td>Employee Name: </td>
				<td><input type="text" name="empName" value=""></td>
			</tr>
			<tr>
				<td>Contact: </td>
				<td><input type="text" name="contact" value=""></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" value=""></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="password" name="password" value=""> </td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit" value="Submit"> </td>
			</tr>
		</table>
	</form>
</body>
</html>