<!DOCTYPE html>
<html>
<head>
	<title>Employee Home page</title>
</head>
<body>
	<h1>Employee Home PAGE</h1>
	<p>Welcome home </p>

	<a href="/home/createProduct">Add New Product</a> | 
	<a href="/home/product_list">Product List</a> | 
	<a href="/logout">Logout</a> 

</body>
</html>