<!doctype html>
<html><head>
  <meta charset="utf-8">
  <title>BLU - Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link rel="stylesheet" type="text/css" href="/assets/userProfile/bootstrap/css/bootstrap.min.css" />

  <link href="/assets/userProfile/css/main.css" rel="stylesheet">
  <link href="/assets/userProfile/css/font-style.css" rel="stylesheet">
  <link href="/assets/userProfile/css/register.css" rel="stylesheet">

  <script type="text/javascript" src="/assets/userProfile/js/jquery.js"></script>    
  <script type="text/javascript" src="/assets/userProfile/bootstrap/js/bootstrap.min.js"></script>

  <style type="text/css">
  body {
    padding-top: 60px;
  }
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  </head>
  <body>

  	<!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/userProfile"><img src="/assets/userProfile/images/logo30.png" alt=""> USER DASHBOARD </a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home"><i class="icon-home icon-white"></i> BLU | Home </a></li>                            
            <li><a href="tables"><i class="icon-th icon-white"></i> Bookings</a></li>
            <li><a href="/login"><i class="icon-lock icon-white"></i> Log Out</a></li>
            <li class="active"><a href="user"><i class="icon-user icon-white"></i> User</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container center">
      <div class="row">
       <div class="col-sm-6 col-lg-6">
        <div id="register-wraper">
          <form id="register-form" class="form" method="post">
            <legend>User Details</legend>

            <div class="body">
             <!-- first name -->
             <label for="name">Name</label>
             <input name="name" class="input-huge" type="text" value="<%= userProfile[0].name %>">
             <!-- last name -->
             <label for="address">Address</label>
             <input name="address" class="input-huge" type="text" value="<%= userProfile[0].address %>">
             <!-- email -->
             <label>E-mail</label>
             <input name="email" class="input-huge" type="text" value="<%= userProfile[0].email %>">
             <!-- username -->
             <label>Phone</label>
             <input name="phone" class="input-huge" type="text" value="<%= userProfile[0].phone %>">
             <!-- password -->
             <label>Password</label>
             <input name="password" class="input-huge" type="text">

           </div>

           <div class="footer">
            <label class="checkbox inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> I agree with the terms &amp; conditions
            </label>
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<div id="footerwrap">
 <footer class="clearfix"></footer>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-lg-12">
     <p><img src="images/logo.png" alt=""></p>
     <p>Blocks Dashboard Theme - Crafted With Love - Copyright 2013</p>
   </div>

 </div><!-- /row -->
</div><!-- /container -->		
</div><!-- /footerwrap -->  
</body></html>